body{
    background-color: #87CEFA;
}
#logo{
    margin-left: 15px;
}

#top-menu ul li{
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

#top-menu ul{
    float: right;
}

#top-menu ul li:hover{
    color: ghostwhite;
    background-color: #6495ED;
    border-radius: 40px;

}