body{
    background-color: #87CEFA;
    font-family: 'Open Sans', sans-serif;
}

/* Barra de navegação */
.nav{
    display: flex;
    border: 1px solid red;
}

.nav-bar a{
    color: black;
    padding: 10px;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-bar li{
    margin-right: 10px;
    float: right;
    list-style-type: none;
    position: relative;
}

.nav-bar{
    margin: 0 70px 0 400px;
}

.nav-bar a:hover{
    color: ghostwhite;
    background-color: #6495ED;
    border-radius: 40px;
}