body{
    background-color: #87CEFA;
    font-family: 'Open Sans', sans-serif;
}

/* Barra de navegação */
.nav{
    display: flex;
    border: 1px solid red;
}

.nav-bar a{
    color: black;
    padding: 10px;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-bar li{
    margin-right: 10px;
    float: right;
    list-style-type: none;
    position: relative;
}

.nav-bar{
    margin: 0 70px 0 400px;
}

.nav-bar a:hover{
    color: ghostwhite;
    background-color: #6495ED;
    border-radius: 40px;
}

/* Barra de pesquisa */

.search{
    border: 1px solid blue;
    padding: 30px;
    text-align: center;
}

input[type=text]{
    width: 40%;
    height: 25px;
}

button[type=submit]{
    width: 80px;
    height: 29px;
    color: ghostwhite;
    background-color: #6495ED;
    cursor: pointer;
}

input[type=text], button[type=submit]{
    border-radius: 7px;
    border: ghostwhite;
    margin: 0;
}

/* Listas de músicas top 10 e resultados de pesquisas */

.container{
    border: 1px solid green;
    columns: 5;
    align-items: center;
}

/* Página de Novidades */

.container-news{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    columns: 2;
}