.listMusic-container{
    columns: 5;
}

.listMusic-items{
    background-color: #444;
    max-width: 50%;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    color: #eee;
}

