.listMusic-container{
    height: 90%;
    columns: 2;
}

.listMusic-items{
    background-color: #444;
    width: 70px;
    height: 90px;
    margin-bottom: 15px;
    padding-right: 80px;
    display: flex;
    text-align: center;
    border: 2px solid chartreuse;
    border-radius: 5px;
    color: #eee;
}

