.search-container{
    display: inline-block;
    align-items:center;
}

input{
    width: 270px;
    height: 23px;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
}

.btn-search{
    width: 90px;
    height: 30px;
    background-color: chartreuse;
    border-radius: 0 15px 15px 0;
    margin-left: 0;
}

.btn-search:hover{
    background-color: greenyellow;
}